<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.43.0" targetFramework="net461" />
  <package id="SeleniumWebDrivers" version="1.0.0.4" targetFramework="net461" />
  <package id="WebDriver.ChromeDriver" version="26.14.313457.1" targetFramework="net461" />
</packages>