<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PROXY_USER" value="#PROXY_USER_USERNAME#"/>
    <add key="PROXY_USER_PASSWORD" value="#PROXY_USER_PASSWORD#"/>
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TestDbEntities" connectionString="metadata=res://HeadlessBrowser.DataLayer/TestsDataModel.csdl|res://HeadlessBrowser.DataLayer/TestsDataModel.ssdl|res://HeadlessBrowser.DataLayer/TestsDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=#DBSERVER#;initial catalog=#DBDATABASEINSTANCE#;persist security info=True;user id=#DBUSERNAME#;password=#DBPASSWORD#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>